@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

*::selection {
  background: #4b644c;
}

@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: rocky;
  src: url(./fonts/rockybilly.regular.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Navbar  */

.navbar .nav_items .nav_items_menu li {
  transition: all 0.3s;
  position: relative;
}

.navbar .nav_items .nav_items_menu li::after {
  content: "";
  opacity: 0;
  scale: 0;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 60%;
  transition: all ease 0.4s;
  background-color: #f8f398;
}

.navbar .nav_items .nav_items_menu li:hover::after {
  transform: translateY(-3px);
  opacity: 1;
  scale: 1;
}

.navbar .nav_items .nav_items_menu a {
  transition: all ease 0.2s;
}

.navbar .nav_items .nav_items_menu a:hover {
  rotate: 4deg;
}

.active {
  color: #f8f398;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

.side_links {
  text-decoration: none;
  rotate: 90deg;
}

/* Homepage */

.home_content .balls {
  filter: blur(60px);
}
.home_content .ball2 {
  animation: anime ease-in-out 2s infinite alternate;
}
.home_content .ball1 {
  animation: anime2 ease-in-out 2s infinite alternate;
}

@keyframes anime {
  from {
    transform: translateY(-10%, -10%);
  }
  to {
    transform: translateY(10%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-5%, 10%);
  }
}

/* About */
.image_container_box .project_image {
  transition: all 0.25s;
}

.image_container_box:hover .project_image {
  rotate: 3deg;
}

/* Projects */

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  margin-top: 30px;
  gap: 30px;
}

.view_project .project_arrow {
  transition: all 0.3s;
}

.view_project:hover .project_arrow {
  transform: translateX(10px);
}

.view_project:hover {
  cursor: pointer;
  color: #f8f398;
}

@media (max-width: 550px) {
  .navbar .nav_items {
    display: none;
  }

  .projects .container {
    display: flex;
    flex-direction: column;
  }
}
